# .NET
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json

# Node / React
node_modules/
dist/
.env
.env.local
.env.production

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/settings.json
*.swp
